<div class="flex-container-id">
  <div class="flex-item-left">
    Stock Name
  </div>

  <div class="flex-item-left">
    Current Value
  </div>
  <div class="flex-item-left">
    Change in Price From 1 day
  </div>

  <div class="flex-item-left">
    Change in Price From 2 days
  </div>

  <div class="flex-item-left">
    Change in Price From 3 days
  </div>

  <div class="flex-item-left">
    Buy
  </div>

  <div class="flex-item-left">
    Strong Buy
  </div>

  <div class="flex-item-left">
    Refresh
  </div>
</div>


<div class="flex-container-id">
  <div class="flex-item-left">
    Google (GOOG)
  </div>

  <div class="flex-item-left">
   {{allValues.GOOG.currentValue}}
  </div>
  <div class="flex-item-left">
    {{allValues.GOOG.oneDayChangeInValue}}
  </div>

  <div class="flex-item-left">
    {{allValues.GOOG.twoDayChangeInValue}}
  </div>

  <div class="flex-item-left">
    {{allValues.GOOG.threeDayChangeInValue}}
  </div>

  <div class="flex-item-left">
    <div class="plain" *ngIf="allValues.GOOG.Buy === 'No'">
      {{allValues.GOOG.Buy}}
    </div>

    <div class="lightred" *ngIf="allValues.GOOG.Buy === 'Yes'">
      {{allValues.GOOG.Buy}}
    </div>
  </div>

  <div class="flex-item-left">
    <div class="plain" *ngIf="allValues.GOOG.strongBuy === 'No'">
      {{allValues.GOOG.strongBuy}}
    </div>

    <div class="darkred" *ngIf="allValues.GOOG.strongBuy === 'Yes'">
      {{allValues.GOOG.strongBuy}}
    </div>
  </div>

  <div class="flex-item-left">
  <button class="btn" (click)="getValuesFromAPI('GOOG')">Get Latest Value</button>
  </div>
</div>


<div class="flex-container-id">
  <div class="flex-item-left">
    Micron technology (MU)
  </div>

  <div class="flex-item-left">
   {{allValues.MU.currentValue}}
  </div>
  <div class="flex-item-left">
    {{allValues.MU.oneDayChangeInValue}}
  </div>

  <div class="flex-item-left">
    {{allValues.MU.twoDayChangeInValue}}
  </div>

  <div class="flex-item-left">
    {{allValues.MU.threeDayChangeInValue}}
  </div>

  <div class="flex-item-left">
    <div class="plain" *ngIf="allValues.MU.Buy === 'No'">
      {{allValues.MU.Buy}}
    </div>

    <div class="lightred" *ngIf="allValues.MU.Buy === 'Yes'">
      {{allValues.MU.Buy}}
    </div>
  </div>

  <div class="flex-item-left">
    <div class="plain" *ngIf="allValues.MU.strongBuy === 'No'">
      {{allValues.MU.strongBuy}}
    </div>

    <div class="darkred" *ngIf="allValues.MU.strongBuy === 'Yes'">
      {{allValues.MU.strongBuy}}
    </div>
  </div>

  <div class="flex-item-left">
  <button class="btn" (click)="getValuesFromAPI('MU')">Get Latest Value</button>
  </div>
</div>

