<div class="flex-item-left">
  <button class="btn" (click)="refreshAll()">Refresh All</button>
</div>
<div class="flex-container-id">
  <div class="flex-item-left">
    Stock Name
  </div>

  <div class="flex-item-left">
    Current Value
  </div>
  <div class="flex-item-left">
    Change in Price From 1 day
  </div>

  <div class="flex-item-left">
    Change in Price From 2 days
  </div>

  <div class="flex-item-left">
    Change in Price From 3 days
  </div>

  <div class="flex-item-left">
    Total Change (3 days)
  </div>

  <div class="flex-item-left">
    Buy
  </div>

  <div class="flex-item-left">
    Strong Buy
  </div>


</div>


<div *ngFor="let ticker of allStockValues">
  <div class="flex-container-id">
    <div class="flex-item-left">
      {{ticker.tickerName}} - ({{ticker.tickerSymbol}})
    </div>

    <div class="flex-item-left">
      {{ticker.currentValue}}
    </div>
    <div class="flex-item-left">
      {{ticker.oneDayChangeInValue}}
    </div>

    <div class="flex-item-left">
      {{ticker.twoDayChangeInValue}}
    </div>

    <div class="flex-item-left">
      {{ticker.threeDayChangeInValue}}
    </div>

    <div class="flex-item-left">
      <div class="plain" *ngIf="ticker.fallin3Days >0">
        {{ticker.fallin3Days}}
      </div>
      <div class="lightred" *ngIf="ticker.fallin3Days < 0">
        {{ticker.fallin3Days}}
      </div>

    </div>

    <div class="flex-item-left">
      <div class="plain" *ngIf="ticker.Buy === 'No'">
        {{ticker.Buy}}
      </div>

      <div class="lightred" *ngIf="ticker.Buy === 'Yes'">
        {{ticker.Buy}}
      </div>
    </div>

    <div class="flex-item-left">
      <div class="plain" *ngIf="ticker.strongBuy === 'No'">
        {{ticker.strongBuy}}
      </div>

      <div class="darkred" *ngIf="ticker.strongBuy === 'Yes'">
        {{ticker.strongBuy}}
      </div>
    </div>



  </div>


</div>
